<div id="nav_middle" class="flex gap-8 px-4 py-2 text-neutral-100"
    mix-id = "{{nav_middle_id}}"
    mix-class = "nav_middle"
    mix-on-url = "{{on_url}}"
    mix-hide = "[mix-class='nav_middle']"
    mix-show = "[mix-id='{{nav_middle_id}}']"
>
    <a href="/documentation"
    class="{{get('documentation_active_link', '')}}"
    mix-method = "get"
    mix-url = "/documentation"
    onclick="mixhtml(); return false"
    >
    Documentation
    </a>

    <a href="/examples"
    class="{{get('examples_active_link', '')}}"
    mix-method = "get"
    mix-url = "/examples"
    onclick="mixhtml(); return false"
    >
    Examples
    </a>

    <a class="hidden md:flex" href="/hot-it-works"
    class="{{get('how_active_link', '')}}"
    onclick="mixhtml(); return false"
    >
    How it works
    </a>        
</div>