<div id="nav_middle" class="flex gap-8 px-4 py-2 text-neutral-100"
    mix-id = "{{nav_middle_id}}"
    mix-class = "nav_middle"
    mix-on-url = "{{on_url}}"
    mix-hide = "[mix-class='nav_middle']"
    mix-show = "[mix-id='{{nav_middle_id}}']"
>
    <a href="/documentation" mix-get
    class="{{get('documentation_active_link', '')}}"
    >
    Docs
    </a>

    <a href="/examples" mix-get
    class="{{get('examples_active_link', '')}}"
    
    >
    Examples
    </a>

    <a href="/how-it-works" mix-get
    class="{{get('how_active_link', '')}}"
    >
    How?
    </a>     
</div>