% if not is_spa:
    % include("_header.html", title="mixhtml - documentation")
    % include("_nav.html", nav_middle_id = "nav_documentation")
% end


% ############################## TEMPLATE

% if is_spa:
    <template
        mix-target = "#nav_middle_container"
        mix-bottom
    >
        % include("_nav_middle.html", nav_middle_id = "nav_documentation")
    </template>
% end


% ############################## TEMPLATE


% if is_spa:
<template
    mix-target = "body"
    mix-bottom
>
% end

    <main
        class="fixed top-16 grid w-full h-[calc(100vh-4rem)] pb-32 overflow-y-scroll"

        mix-id = "/documentation"
        mix-page = "yes"
        mix-push-url = "/documentation"
        mix-on-url = "/documentation"
        mix-hide = "[mix-page]"
        mix-show = "[mix-id='/documentation']"
        mix-title = "mixhtml - Documentation"
    >


    <div class="flex flex-col gap-4 items-center justify-center bg-neutral-800 py-16">
        <h1 class="pt-2 text-center text-5xl font-bold">
            <span class="text-purple-400">Docum</span><span class="text-cyan-50">entation</span>
        </h1>
        <h1 class="text-white">
            Best library for the web
        </h1>
    </div>

    <div class="flex flex-col gap-8 w-full p-4 md:w-1/2 mx-auto">
        
        <p class="">
            MixHtml is simply the best library for the web. It allows developers to create
            complex websites effortlessly. It is 100% secure, easy to use,
            and you only need to know where to place a few HTML attributes.            
        </p>
        <p class="">
            It also allows to create or convert any website, into a Single Page App (SPA).
        </p>
        <p class="">
            Yes, it simpy is the best thing that has happened to the web since the creation
            of HTML and JS.
        </p>        

        <section class="flex flex-col [&_a]:font-bold">
            <a href="#one">
                1. The element that starts/triggers mixhtml
            </a>
            <a href="#two">
                2. The template/s bringing the data from the server
            </a>        
            <a href="#three">
                3. The "page" with the data
            </a>        
        </section>



        % ########## GET ##########
        <section id="one" class="pt-4">
            <p class="font-bold text-2xl text-amber-600">
                # Starting a request
            </p>

            <article class="flex flex-col gap-4">
                <p>
                    In a way, a request needs to be started or triggered. The request can be started 
                    on click, on focus, and on blur. In this version, these are the only events
                    that we have considered needed in any web application. All other events, as for example,
                    hover, key press, key up, and so on, are most likely unecessary and rarely used.
                </p>
                <p>
                    The following tags create an onclick event on the element and trigger
                    a fetch request against the value/url given.
                </p>
                <div class="grid grid-cols-[1fr_4fr] gap-4 border border-purple-700 p-2">
                    <div class="font-bold">
                        mix-get
                    </div>
                    <div>
                        Set an onclick event on the element. Create a GET request. Eg:
                        <p class="text-green-700 font-bold">mix-get="/items"</p>
                    </div>
                    <div class="font-bold">
                        mix-post
                    </div>
                    <div>
                        Set an onclick event on the element. Create a POST request. 
                        Must be used together with mix-data. Eg:
                        <p class="text-green-700 font-bold">mix-post="/items"</p>
                    </div>    
                    <div class="font-bold">
                        mix-put
                    </div>
                    <div>
                        Set an onclick event on the element. Create a PUT request. Eg:
                        <p class="text-green-700 font-bold">mix-put="/items/1"</p>
                    </div>                                                             
                    <div class="font-bold">
                        mix-delete
                    </div>
                    <div>
                        Set an onclick event on the element. Create a DELETE request. Eg:
                        <p class="text-green-700 font-bold">mix-delete="/items/1"</p>
                    </div>   
                </div>

                <div class="grid grid-cols-[1fr_4fr] gap-4 border border-purple-700 p-2">
                    <div></div>
                    <div class="flex flex-col gap-2">
                        To imporove Search Engine Optimization (SEO), the HTML attributes 
                        "href" and "action" can be used. When mixhtml sees these attributes,
                        it will not touch them, yet the request will be created with any of the
                        mix methods described above. If "href" or "action" are defined, then the
                        mix methods do not need a values because it will use the value defined 
                        in the "href" or "action".
                        <p>
                            In the following example a request in an anchor tag to "/items" will be 
                            created. The "mix-get" will use the value defined in the "href"
                        </p>
                        <p class="text-green-700 font-bold">
                            &lt;a href="/items" mix-get&gt;
                        </p>
                        <p>
                            In the following example a request in a form to "/items" will be 
                            created. The "mix-post" will use the value defined in the "action"
                        </p>
                        <p class="text-green-700 font-bold">
                            &lt;form action="/items" mix-post&gt;
                        </p>                        
                    </div>
                </div>

                <div class="grid grid-cols-[1fr_4fr] gap-4 border border-purple-700 p-2">
                    <div class="font-bold">mix-focus</div>
                    <div>Set onfocus event on the element.</div>   
                    <div class="font-bold">mix-blur</div>
                    <div>Set onblur event on the element.</div>
                </div>

                <p>
                    The following tag is used to define the element containing the data to be used
                    with mix-post or mix-put.
                </p>

                <div class="grid grid-cols-[1fr_4fr] gap-4 border border-purple-700 p-2">
                    <div class="font-bold">mix-data</div>
                    <div>
                        CSS selector defining which element contains the data. Usually a form.
                        Must be used together with mix-post or mix-put. In the following example,
                        we define that the system should trigger a post request and the data is 
                        in a form with the id "frm":
                        <p class="text-green-700 font-bold">mix-post="/items"</p>
                        <p class="text-green-700 font-bold">mix-data="#frm"</p>
                    </div>
                </div>



                

                <div class="text-neutral-100 bg-neutral-800">
<pre><code class="language-html">&lt;a href="/items" mix-get&gt;
    Items
&lt;/a&gt;</code></pre>
                </div>
            </article>

            <article>
                <p>
                    If the element does not have the "href" attribute defined, then mix-get must have 
                    an URL in the value.
                </p>
                <div class="text-neutral-100 bg-neutral-800">                    
<pre><code class="language-html">&lt;button mix-get="/items"&gt;
    Items
&lt;/button&gt;</code></pre>
                </div>
            </article>
        </section>




        <section id="one" class="flex flex-col gap-4 pt-4">
            <p class="font-bold text-2xl text-amber-600">
                # POST requests
            </p>

            <article>
                <p>
                    Creates a POST request. Most likely this request will always be triggered in a form.
                    The end-point (URL), will be the one defined in the "action" attribute.
                </p>
                <div class="text-neutral-100 bg-neutral-800">
<pre><code class="language-html">&lt;form action="/items" mix-post&gt;
&lt;/form&gt;</code></pre>
                </div>
            </article>

            <article>
                <p>
                    If the element does not have the "action" attribute defined, then mix-post must have 
                    an URL in the value. It is not recommended to use this option, since the one above
                    is better for search engine optimization (SEO)
                </p>
                <div class="text-neutral-100 bg-neutral-800">                    
<pre><code class="language-html">&lt;form mix-post="/items"&gt;
&lt;/form&gt;</code></pre>
                </div>
            </article>

            <article>
                <p>
                    The <span class="text-amber-700 font-bold">mix-data</span> attibute must have a CSS selector in the value.
                    This selector will tell mixhtml which element contains the needed data to create the
                    POST request. The following code demonstrates how the button will trigger a POST request using
                    the data defined in the form with the id "frm".
                </p>
                <div class="text-neutral-100 bg-neutral-800">                    
<pre><code class="language-html">&lt;form id="frm"&gt;
    &lt;input 
        type="text" 
        name="user_name"
    &gt;
    &lt;button 
        mix-post="/items" 
        mix-data="#frm"
    &gt;
        Create
    &lt;/button&gt;
&lt;/form&gt;</code></pre>
                </div>
            </article>
        </section>



        <section id="two" class="pt-4">
            <p class="font-bold text-xl text-cyan-600">
                # Template/s in the response
            </p>
            <p>
                The server must respond with at least one template. Each 
                template is an instruction to mixhtml. There are no limit
                in the number of templates that the server can send. Yet,
                it is recommended to only respond with the needed data.
            </p>
            <div class="text-neutral-100 bg-neutral-800 p-4 my-2">
                <ul>
                    <li>
                        mix-target
                    </li>
                    <li>
                        mix-position
                    </li>
                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <div>
                    <span class="text-cyan-700 font-bold">mix-target</span>
                    a valid CSS selector (only one).
                    This attribute is <span class="text-red-700 font-bold">required</span>.
                </div>
                <div>
                    <span class="text-cyan-700 font-bold">mix-position</span> 
                    any of the following options: innerHTML, replace, 
                    beforebegin, afterbegin, beforeend, afterend.
                    This attribute is <span class="text-orange-500">optional</span> for "innerHTML"
                    otherwise it is <span class="text-red-700 font-bold">required</span>.
                </div>               
            </div>
        </section>


        <section id="three" class="pt-4">
            <p class="font-bold text-xl text-cyan-600">
                # The "page" or parts of it
            </p>
            <p>
                This is the HTML elements containing the "page" or parts of it.
                This can be any tag like main, div, span, p, section, etc. It is
                the HTML that will be passed to the browser.
            </p>
            <div class="text-neutral-100 bg-neutral-800 p-4 my-2">
                <ul>
                    <li>
                        mix-title
                    </li>
                    <li>
                        mix-hide
                    </li>
                    <li>
                        mix-show
                    </li>          
                    <li>
                        mix-live-for
                    </li>          

                </ul>
            </div>
            <div class="flex flex-col gap-4">
                <div>
                    <span class="text-cyan-700 font-bold">mix-title</span>
                    is the new title that will appear in the browser's tab.
                    This attribute is <span class="text-orange-500">optional</span>.
                </div>
                <div>
                    <span class="text-cyan-700 font-bold">mix-hide</span> 
                    a valid CSS selector or list of CSS selectors divided by a comma.
                    This attribute is <span class="text-orange-500">optional</span>.
                </div>     
                <div>
                    <span class="text-cyan-700 font-bold">mix-show</span> 
                    a valid CSS selector or list of CSS selectors divided by a comma.
                    This attribute is <span class="text-orange-500">optional</span>.
                </div>
                <div>
                    <span class="text-cyan-700 font-bold">mix-live-for</span> 
                    an integer that depicts the number of seconds that the element
                    will stay on the page, before it is removed.
                    This attribute is <span class="text-orange-500">optional</span>.
                </div>                                                                  
            </div>
        </section>


    </div>



    </main>

% if is_spa:
    </template>
% end





% if not is_spa:
    <script>
        const mix_replace_url = '/documentation'
    </script>
    % include("_footer.html")
% end
