% if not is_spa:
    % include("_header.html", title="documentation")
    % include("_nav.html", nav_middle_id = "nav_documentation")
% end


% ############################## TEMPLATE

% if is_spa:
    <template
        mix-target = "#nav_middle_container"
        mix-position = "beforeend"
    >
        % include("_nav_middle.html", nav_middle_id = "nav_documentation")
    </template>
% end


% ############################## TEMPLATE


% if is_spa:
<template
    mix-target = "body"
    mix-position = "beforeend"
>
% end

    <main
    class="fixed top-16 grid grid-cols-2 w-full h-[calc(100vh-4rem)]"

    mix-id = "/documentation"
    mix-page = "yes"
    mix-push-url = "/documentation"
    mix-on-url = "/documentation"
    mix-hide = "[mix-page]"
    mix-show = "[mix-id='/documentation']"
    mix-title = "Documentation : : mixhtml"
>

    % # left
    <div class="">
        left
    </div>

    % # right
    <div class="">
        right
    </div>



</main>

% if is_spa:
    </template>
% end





% if not is_spa:
    <script>
        const mix_replace_url = '/documentation'
    </script>
    % include("_footer.html")
% end
