% if not is_spa:
    % include("_header.html", title="mix : : html")
    % include("_nav.html", nav_middle_id = "nav_index")
% end


% ############################## TEMPLATE




% ############################## TEMPLATE

% if is_spa:
<template
    mix-target = "body"
    mix-position = "beforeend"
>
% end
    <!-- ##### INDEX ##### -->
    <main id="index" class="fixed top-16 xpage w-full h-[calc(100vh-4rem)] grid grid-cols-2"
    mix-id = "index"
    mix-on-url = "/"
    mix-url = "/"
    mix-push-url = "/" 
    mix-title = "mix html"
    mix-hide = "[mix-page]"
    mix-show = "#mini_items, [mix-id='index']"
    mix-page = "yes"
    >

        <div class="flex flex-col gap-4 p-4 overflow-y-scroll">
            <div id="mini_items" class="grid grid-cols-2 gap-4">

                % for item in items:
                    % include("_item_mini")
                % end

            </div>

            % include("__btn_show_more", id=5)         
        </div>

        <!-- ##### MORE INFO ##### -->
        % if not is_spa:
        <div id="more_info" class="h-full border border-l-gray-200 p-4 overflow-y-scroll">
            % if item_preview == "_item_preview":
                % include("_item_preview_default", is_hidden="hidden")
            % end            
            % include(item_preview)
        </div>
        % end

         <!-- ##### END MORE INFO ##### -->



    </main>

     <!-- ##### END INDEX ##### -->

% if is_spa:
    </template>
% end




% if not is_spa:
    <script>
        const mix_replace_url = '{{url}}'
    </script>
    % include("_footer.html")
% end