% if not is_spa:
    % include("_header.html", title="mixhtml - Complex websites made simple")
    % include("_nav.html", nav_middle_id = "nav_index")
% end


% ############################## TEMPLATE

% if is_spa:
    <template
        mix-target = "#nav_middle_container"
        mix-position = "beforeend"
    >
        % include("_nav_middle.html", nav_middle_id = "nav_index")
    </template>
% end





% ############################## TEMPLATE

% if is_spa:
<template
    mix-target = "body"
    mix-position = "beforeend"
>
% end
    <!-- ##### INDEX ##### -->
    <main id="index" class="fixed top-16 xpage w-full h-[calc(100vh-4rem)] grid overflow-y-scroll"
    mix-id = "index"
    mix-on-url = "/"
    mix-url = "/"
    mix-push-url = "/" 
    mix-title = "mixhtml - Complex websites made simple"
    mix-hide = "[mix-page]"
    mix-show = "#mini_items, [mix-id='index']"
    mix-page = "yes"
    >
    <div class="pb-32">
        <div class="flex flex-col gap-4 items-center justify-center bg-neutral-800 py-16">
            <h1 class="pt-2 text-center text-5xl font-bold">
                <span class="text-cyan-500">mix</span><span class="text-cyan-50 ml-2">html</span>
            </h1>
            <h1 class="text-white">
                Advanced websites made simple
            </h1>
        </div>
        <div class="flex flex-col gap-8 w-full md:w-1/2 mx-auto p-8">                
            <div class="">
                <h2 class="font-bold">
                    Explain it ?
                </h2>
                <p class="">
                    It is simple, you just have to know a few attributes and you will get
                    a single page app. No need to write JavaScript, just plain HTML.
                </p>
            </div>   
            <div class="">
                <h2 class="font-bold">
                    Quick overview
                </h2>
                <p class="">
                    This page is built with <span class="text-cyan-600 font-bold">mixhtml</span>. It is a
                    complete single page app with server side rendering, searh engine optimized (SEO) and does not use any
                    fancy over-complicated framework, nor does it use Nodejs. This library can be
                    used with any back-end language out of the box.
                </p>
            </div> 
            <div class="">
                <h2 class="font-bold">
                    Live demo
                </h2>
                <p class="">
                    There are innumerable things you can do with <span class="text-cyan-600 font-bold">mixhtml</span>.
                    In the 
                    <a href="/examples" mix-get
                    class="underline text-cyan-600 font-bold"                    
                    >
                        examples
                    </a> 
                    section, you can see many ideas that you can use and apply to make your existing
                    or future website really awesome!
                </p>
            </div>
            <div class="">
                <h2 class="font-bold">
                    Security
                </h2>
                <p class="">
                    <span class="text-green-700 font-bold">mixhtml</span> is as secure as you want it
                    to be. If the data you generate in the server is sanitized, then 
                    <span class="text-green-700 font-bold">mixhtml</span> is 100% save and secure.                    
                    It is recommended that you use a template engine in the back-end. In this way,
                    the front-end will be protected against cross site scripting (XSS), cross site request forgery
                    (CSRF), and other malicious attacks.                 
                </p>                
            </div>                                                                     
        </div>
        </div>
    </main>

     <!-- ##### END INDEX ##### -->

% if is_spa:
    </template>
% end




% if not is_spa:
    <script>
        const mix_replace_url = '{{url}}'
    </script>
    % include("_footer.html")
% end