<main class="flex flex-col gap-4"
    data-xOnUrl = "/items/{{id}}"
    data-xTitle = "ITEM : : {{id}}"    
    data-xPushUrl = "/items/{{id}}" 
    data-xHide = "[data-xClass='item'],[data-xPage]"
    data-xShow = "[data-xId='index'],[data-xId = '/items/{{id}}']"
    data-xTTL = "5"  
    data-xPage = "yes"
      
    data-xId = "/items/{{id}}"
    data-xClass="item"
>
    <div class="flex flex-col gap-4 items-center justify-center bg-neutral-800 py-8 rounded-md">
        <h1 class="pt-2 text-center text-5xl font-bold">
            </span><span class="text-orange-400">
                ITEM
            <span class="text-neutral-50 mr-2">
                {{id}}
            </span>
        </h1>
        <p class="text-white">
            data for item with id {{id}}
        </p>
    </div>
    <div class="">
        <p class="font-bold">
            Live demo
        </p>
        <p class="">
            On the left site of this page, you will see boxes with numbers. Imagine each
            box is an item, property, product, user, etc. You would like to get a quick
            overview of that item and also you may want to copy the link and send it to a friend.
            Click on any box and you will see how the single page app loads the respective data,
            sets the title of the page, and also changes the URL. Amazing! All done with just HTML.
            And yes, you can navigate the page by clicking on the back or forward buttons as well.
        </p>
    </div>                 
    <div class="">
        <p class="font-bold">
            Explain it ?
        </p>
        <p class="">
            It is simple, you just have to know a few attributes and you will get
            a single page app. No need to write JavaScript, just plain HTML.
        </p>
    </div>   
    <div class="">
        <p class="font-bold">
            Quick overview
        </p>
        <p class="">
            This page is built with <span class="text-purple-600">mixhtml</span>. It is a
            complete single page app with server side rendering, searh engine optimized (SEO) and does not use any
            fancy over-complicated framework, nor does it use Nodejs. This library can be
            used with any back-end language out of the box.
        </p>
    </div>                                              
</main>

